
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/JavaScript/Empleado.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Empleados:</h2>
            <hr />
        </div>

    </div>

</div>
<br />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <button type="button" class="btn btn-success" onclick="showModal();">Agregar</button>
        </div>
        <div class="col-md-1" style="padding-left:100px">
            
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <table id="tblSubCategorias" class="table table-hover" border="1">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Editar</th>
                        <th class="text-center" scope="col">IdEmpleado</th>
                        <th class="text-center" scope="col">Nombre</th>
                        <th class="text-center" scope="col">Apellido paterno</th>
                        <th class="text-center" scope="col">Apellido materno</th>
                        <th class="text-center" scope="col">IdEntidad</th>
                        <th class="text-center" scope="col">Eliminar</th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>

<!--Codigo del Modal-->
<div class="modal" tabindex="-1" id="formulario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Formulario de Registro / Actualizacion de Empleados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">No. de Empleado</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="No. Empleado" aria-describedby="basic-addon1" readonly>
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Nombre(s)</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Nombre(s)" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Apellido Paterno</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Apellido Paterno" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Apellido Materno</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Apellido Materno" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Número de Nómina</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="No. Nomina" aria-describedby="basic-addon1">
                </div>
                <br />
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showModal() {
        $('#formulario').modal('show');
    }
</script>